.rcstatus-background {
    background-color: #efece6;
    margin: 0;
}
.rcstatus-main {
    background-color: #1f1f1f;
    margin: 0 auto;
    width: 90%;
    color: #ffffff;
    font-family: 'Noto Sans', sans-serif;
    padding: 12px 0;
}
.rcstatus-main a:link {
    color: #c0ccff;text-decoration: none;
}
.rcstatus-main a:visited {
    color: #c0cccc;text-decoration: none;
}
.rcstatus-main a:hover {
    color: #a0aaff;text-decoration: none;
}
.rcstatus-main a:active {
    color: #404444;text-decoration: none;
}
.rcstatus-main h1 {
    font-size: xx-large;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}
.rcstatus-main h2 {
    font-size: x-large;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}
.rcstatus-main h3 {
    font-size: large;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}
.spaceless{
    padding: 0;
    margin: 0;
    border: 0;
}
.rcstatus-divider-t {
    border-color: #3a8bce;
    border-width: 2px 0 0 0;
    border-style: solid;
}
.rcstatus-divider-r {
    border-color: #3a8bce;
    border-width: 0 2px 0 0;
    border-style: solid;
}
.rcstatus-divider-b {
    border-color: #3a8bce;
    border-width: 0 0 2px 0;
    border-style: solid;
}
.rcstatus-divider-l {
    border-color: #3a8bce;
    border-width: 0 0 0 2px;
    border-style: solid;
}
.rcstatus-graph {
    background-color: #efece6;
    margin: none;
    padding: 1%;
}
.rcstatus-scrapable {
    display: none;
}
.rcstatus-incident-table {
    margin: auto;
    padding: 1%;
    width: 80%;
    border-collapse: collapse;
}
.rcstatus-timespan {
    margin: auto 0;
    text-align: center;
    color: #a1a1a1;
}
.rcstatus-incident-time {
    margin: auto;
    text-align: center;
}
.rcstatus-incident-info {
    text-align: left;
    padding: 4%;
}
.rcstatus-indicator {
    display: inline-block;
    margin: 0.5%;
    width: clamp(10%, 20%, 90%);
    vertical-align: middle;
    padding: 0.5% 4%;
}
.rcstatus-indicator .rcstatus-indicator-tooltip {
    visibility: hidden;
    width: 100px;
    background-color: #1f1f1f88;
    text-align: center;
    padding: 0.2%;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    vertical-align: middle;
}
.rcstatus-indicator:hover .rcstatus-indicator-tooltip {
    visibility: visible;
}

.rcstatus-indicator-container {
    margin: auto;
    padding: 1%;
    width: 80%;
}
.rcstatus-indicator-circle {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}
.rcstatus-indicator-text {
    vertical-align: middle;
    height: 100%;
}